#textdomain wesnoth-Saving_Elensefar

[scenario]
    id=sea_voyage_-3
    next_scenario=sea_voyage_fake2
    name= _ "Blackmore the Black"
    map_data="{~add-ons/Saving_Elensefar/maps/03-Blackmore_the_Black.map}"
    new_game_title= _ "The reconquest (4 players)"
    force_lock_settings=yes
    allow_new_game=yes
    random_start_time=no

#ifdef MULTIPLAYER
    experience_modifier={ON_DIFFICULTY 90 120 140}
#endif

    {TURNS 24 20 18}

    {SAVING_ELENSEFAR_SHEDULE}
    {MOOD_SAD}
    {VICTORY_AND_DEFEAT_MUSIC}

    {SCENARIO_EVENTS}

    [side]
        side=1
        {HUMAN_SIDE}
        {MENELDUR}
    [/side]

    [side]
        side=2
#ifdef MULTIPLAYER
        {HUMAN_SIDE}
        {MADRU}
#else
        controller=null
        hidden=yes
#endif
    [/side]

    [side]
        side=3
#ifdef MULTIPLAYER
        {HUMAN_SIDE}
        {BLACK_THE_RED}
#else
        controller=null
        hidden=yes
#endif
    [/side]

    [side]
        side=4
#ifdef MULTIPLAYER
        {HUMAN_SIDE}
        {GOLD 200 160 120}
#else
        controller=ai
        {GOLD 175 200 250}
#endif
        {AH-REBLAK}
        recruit=SE Brute
        village_gold=2
        village_support=2
        team_name=good
        user_team_name= _"Undead-Elf-Alliance"
        {FLAG_VARIANT undead}

        [ai]
            aggression=-0.2
            caution=0.8
            leader_value=0
        [/ai]
        {FOCUS_ON_SIDE 6}
    [/side]

    {RECRUIT_UNIT_VARIATIONS 4 ("Walking Corpse") wose,wose,troll,none}
    {RECRUIT_UNIT_VARIATIONS 4 ("Soulless") wose,wose,troll,none}

    [side]
        side=5
        controller=ai
        id=Bahtak
        name= _"Bahtak"
        type=Orcish Warlord
        canrecruit=yes
#ifdef EASY
        recruit=Orcish Warrior,Orcish Grunt,Wolf Rider,Goblin Knight,Orcish Crossbowman,Orcish Archer
#endif
#ifdef NORMAL
        recruit=Orcish Warrior,Orcish Grunt,Wolf Rider,Orcish Assassin,Goblin Knight,Orcish Crossbowman,Orcish Archer
#endif
#ifdef HARD
        recruit=Orcish Warrior,Orcish Grunt,Wolf Rider,Orcish Assassin,Orcish Slayer,Goblin Knight,Orcish Crossbowman,Orcish Archer
#endif
        {GOLD 250 300 360}
        {INCOME 16 18 24}
        village_gold=3
        village_support=1
        team_name=bad
        user_team_name= _"Revolting Orcs"
        {GENERIC_AI}
        {FLAG_VARIANT ragged}
    [/side]

    [side]
        side=6
        controller=ai
        id=Ahtanuk
        name= _"Ahtanuk"
        type=Orcish Warlord
        canrecruit=yes
#ifdef EASY
        recruit=Orcish Warrior,Orcish Grunt,Wolf Rider,Goblin Knight,Orcish Crossbowman,Orcish Archer
#endif
#ifdef NORMAL
        recruit=Orcish Warrior,Orcish Grunt,Wolf Rider,Orcish Assassin,Goblin Knight,Orcish Crossbowman,Orcish Archer
#endif
#ifdef HARD
        recruit=Orcish Warrior,Orcish Grunt,Wolf Rider,Orcish Assassin,Orcish Slayer,Goblin Knight,Orcish Crossbowman,Orcish Archer
#endif
        {GOLD 200 250 320}
        {INCOME 16 18 24}
        village_gold=3
        village_support=1
        team_name=bad
        user_team_name= _"Revolting Orcs"
        {GENERIC_AI}
        {FLAG_VARIANT ragged}
    [/side]

    {STARTING_VILLAGES 5 6}
    {STARTING_VILLAGES 6 6}
    {STARTING_VILLAGES 4 8}

    {MONSTERS_AI 7}

    [event]
        name=prestart

        [objectives]
            side=0
            [objective]
                description= _ "Defeat enemy leaders"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Meneldur"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Madru"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Black the Red"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Ah-Reblak"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}
        [/objectives]

        {SCATTER_EMBELLISHMENTS G* ^Efm 7}
        {SCATTER_EMBELLISHMENTS Re,Rb,Gd ^Gvs 5}
        {SCATTER_EMBELLISHMENTS G*,D*,R*,Uu*,Ur* ^Es 2}
        {SCATTER_EMBELLISHMENTS G*,R*,Uu*,Ur* ^Em 2}
        {SCATTER_EMBELLISHMENTS Uu* ^Emf 2}
        {SCATTER_EMBELLISHMENTS D* ^Edp 2}
        {SCATTER_EMBELLISHMENTS G*,R* ^Wm 0.25}
    [/event]

    [event]
        name=side turn

        {RECALL_MOST_EXPERIENCED () 3 2 1}

        [fire_event]
            name=fire_supply_calculation_start
        [/fire_event]

        [message]
            id=Meneldur
            message= _ "Black, why have you brought us here?!? This is just a remnant of a town, and there are no warriors here, just undead and orcs!"
        [/message]
        [message]
            id="Black the Red"
            message= _ "No, no, you are wrong there. This is no ruined city, this is Blackmore the Black, and for the past seventy years it has been the home of the Wesfolk who remained on this island."
        [/message]
        [message]
            id=Madru
            message= _ "You mean those undead over there are 'Wesfolk'? As in the Wesfolk who came over with Lady Jessica?"
        [/message]
        [message]
            id=Meneldur
            message= _ "I would assume that is what he means, yes. So, Black, you've brought us here to have these Wesfolk help us?"
        [/message]
        [message]
            id="Black the Red"
            message= _ "Well, yes, something like that."
        [/message]
        [message]
            id=Ah-Reblak
            message= _ "I see, brother, that you have returned with warriors. Are they to help us defeat these orcs?"
        [/message]
        [message]
            id=Meneldur
            message= _ "What? That's not why we're here!"
        [/message]
        [message]
            id="Black the Red"
            message= _ "Well, yes it is. You have to help them secure this city before they will help you."
        [/message]
        [message]
            id=Ah-Reblak
            message= _ "Help them? Help Islefolk? Why would we do that?"
        [/message]
        [message]
            id="Black the Red"
            message= _ "These are not Islefolk, brother, they are descendants of the Wesfolk who came over with Lady Jessica."
        [/message]
        [message]
            id=Ah-Reblak
            message= _ "What!? Followers of that deserter!? I can't believe you think we would help them!"
        [/message]
        [message]
            id="Black the Red"
            message= _ "I didn't have a choice, they needed help, so I made a deal that we would help them if they helped us."
        [/message]
        [message]
            id=Meneldur
            message= _ "Trust me, we don't like helping undead any more than you like helping us 'deserters'."
        [/message]
        [message]
            id=Ah-Reblak
            message= _ "Fine. I'll help you do whatever it is you want to do, once we clear this land of the orcs."
        [/message]

#ifdef MULTIPLAYER
        [gold]
            side=1
            {QUANTITY amount 120 90 60}
        [/gold]
        [gold]
            side=2
            {QUANTITY amount 120 90 60}
        [/gold]

#else
        [gold]
            side=1
            {QUANTITY amount 200 175 125}
        [/gold]
#endif

        {VARIABLE_OP random rand 2..6}
        [message]
            id=Ahtanuk
            image="portraits/orcs/transparent/grunt-$random|.png"
            message= _ "Int'resting council! But now, little men, its time to die. Get'm!"
        [/message]
        {CLEAR_VARIABLE random}
    [/event]

    # Meneldur has no income after all
    [event]
        name=capture
        first_time_only=no

        [filter]
            side=1,2,3
        [/filter]

        [capture_village]
            side=4
            x,y=$x1,$y1
        [/capture_village]
    [/event]

    [event]
        name=last breath

        [filter]
            id=Ah-Reblak
        [/filter]

        [message]
            id=Ah-Reblak
            message= _ "Should never have trusted the fool."
        [/message]

        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    # give the enemy reinforcements otherwise it is to easy
    [event]
        name=turn 4, turn 8, turn 12, turn 16
        first_time_only=no

        [gold]
            side=6
            {QUANTITY amount 60 80 120}
        [/gold]
    [/event]

    [event]
        name=turn 5, turn 10, turn 15
        first_time_only=no

        [gold]
            side=5
            {QUANTITY amount 60 80 120}
        [/gold]
    [/event]

    [event]
        name=enemies defeated

        [message]
            id=Meneldur
            message= _ "Well, we've cleared the orcs away. Come on, now you have to hold up your end of the bargain."
        [/message]
        [message]
            id=Ah-Reblak
            message= _ "Well, the orcs will probably be back soon... I think that we are going to end up dying here, no matter what you do. We have held up extraordinarily long already."
        [/message]
        [message]
            id="Black the Red"
            message= _ "That's true. I think it would be best if we could get enough ships to get off of this island. The one I went out on was our last, and we can't make more."
        [/message]
        [message]
            id=Meneldur
            message= _ "Well, I am a shipbuilder. I could help you build more ships, and then you could bring all of your people back east with us."
        [/message]
        [message]
            id="Black the Red"
            message= _ "That sounds good."
        [/message]
        [message]
            id=Madru
            message= _ "Then it is agreed. But after that, you have to help us fight the orcs!"
        [/message]

#ifndef MULTIPLAYER
        [store_gold]
            side=4
        [/store_gold]

        [gold]
            side=1
            amount="$gold"
        [/gold]

        [modify_unit]
            [filter]
                side=4
            [/filter]
            side=1
            experience="$($this_unit.experience + 8)"
        [/modify_unit]
#endif

        [fire_event]
            name=fire_supply_calculation_end
        [/fire_event]

        {CLEAR_VARIABLE gold}

        [if]
            [have_unit]
                id=Othello
            [/have_unit]
            [then]
#ifdef EASY
                [set_extra_recruit]
                    id=Ah-Reblak
                    extra_recruit=Skeleton,Skeleton Archer,Ghost,Vampire Bat
                [/set_extra_recruit]
#else
                [set_extra_recruit]
                    id=Ah-Reblak
                    extra_recruit=Skeleton,Skeleton Archer,Vampire Bat
                [/set_extra_recruit]
#endif
            [/then]
            [else]
#ifdef EASY
                [set_extra_recruit]
                    id=Ah-Reblak
                    extra_recruit=Skeleton,Skeleton Archer,Ghost,Ghoul,Vampire Bat,Soulless
                [/set_extra_recruit]
#else
                [allow_extra_recruit]
                    id=Ah-Reblak
                    extra_recruit=Skeleton,Skeleton Archer,Ghoul,Vampire Bat,Walking Corpse
                [/allow_extra_recruit]
#endif
                # if not having Othello make Ah-Reblak able to recall Ghouls
                [modify_unit]
                    [filter]
                        id=Ah-Reblak
                    [/filter]
                    [filter_recall]
                        type={FILTER_UNDEAD},{FILTER_UNDEAD_NON_SKELET},{FILTER_GHOSTS}
                    [/filter_recall]
                [/modify_unit]
            [/else]
        [/if]

        # if the additional leaders are not present make Meneldur and Madru able to recall their kind
        [if]
            [not]
                [have_unit]
                    id=Raenna
                    search_recall_list=yes
                [/have_unit]
            [/not]
            [then]
                [modify_unit]
                    [filter]
                        id=Meneldur
                    [/filter]
                    [filter_recall]
                        race=elf
                        [or]
                            type={MENELDUR_EXTRA_RECALL},{FILTER_MAGES}
                        [/or]
                    [/filter_recall]
                [/modify_unit]
            [/then]
        [/if]

        [if]
            [not]
                [have_unit]
                    id=Thamen
                    search_recall_list=yes
                [/have_unit]
            [/not]
            [then]
                [modify_unit]
                    [filter]
                        id=Madru
                    [/filter]
                    [filter_recall]
                        type={FILTER_LOYALISTS},{MADRU_EXTRA_RECALL},{FILTER_NOBLES}
                    [/filter_recall]
                [/modify_unit]
            [/then]
        [/if]

        {SE_ENDLEVEL fake2}
    [/event]
[/scenario]
