#textdomain wesnoth-Saving_Elensefar

[scenario]
    id=sea_voyage_fake1
    next_scenario=sea_voyage_-2
    name= _ "Attacked at Sea"
    map_data="{~add-ons/Saving_Elensefar/maps/fake1-Attacked_at_Sea.map}"
    victory_when_enemies_defeated=no
    force_lock_settings=yes
    allow_new_game=no
    random_start_time=no

#ifdef MULTIPLAYER
    experience_modifier={ON_DIFFICULTY 90 120 140}
#endif

    turns=-1

    {SAVING_ELENSEFAR_SHEDULE}

    [story]
        [part]
            story= _ "The city had fallen, but Meneldur and his crew had escaped. Leaving the harbor, and looking back at the city, they noticed something strange. The orcs were not burning the city and pillaging it, as was their habit; instead, they were leaving it alone, and concentrating on the Lord's castle. It was almost as if they wanted to control the city, instead of destroy it."
        [/part]
        [part]
            story= _ "Meneldur was not sure exactly what this meant, but he knew one thing - if the city was not destroyed, then the people in it would not be either. Which meant that the city would still be worth rescuing. Thus, he and Madru, right there, vowed that, if they could, they would raise an army and return to Elensefar, to defeat the orcs and claim whatever of the city remained."
        [/part]
    [/story]

    [side]
        side=1
        {HUMAN_SIDE}
        {MENELDUR}
    [/side]

    [side]
        side=2
#ifdef MULTIPLAYER
        {HUMAN_SIDE}
        {MADRU}

        shroud=yes
        fog=yes
#else
        controller=null
        hidden=yes
#endif
    [/side]

    [side]
        side=3
        no_leader=yes
        controller=null
        team_name=good
        user_team_name= _"Pirates"
        {LOCK_SIDE}
    [/side]

    [side]
        side=4
        no_leader=yes
        controller=null
        team_name=bad
        user_team_name= _"Chasers"
        {LOCK_SIDE}
    [/side]

#define BEAM_UP ID
    [scroll_to_unit]
        id={ID}
    [/scroll_to_unit]
    [store_unit]
        [filter]
            id={ID}
        [/filter]
        variable=temp_{ID}
        kill=yes
    [/store_unit]
#enddef

#define BEAM_DOWN ID X Y T
    [move_unit_fake]
        x=$temp_{ID}.x,{X}
        y=$temp_{ID}.y,{Y}
        side=$temp_{ID}.side
        type=$temp_{ID}.type
    [/move_unit_fake]
    [unstore_unit]
        variable=temp_{ID}
        x,y={X},{Y}
    [/unstore_unit]
    {CLEAR_VARIABLE temp_{ID}}
    [delay]
        time={T}
    [/delay]
    [redraw]
    [/redraw]
#enddef

    [event]
        name=prestart

#ifndef MULTIPLAYER
        [recall]
            id=Madru
            x,y=1,1
        [/recall]
#endif

        [set_extra_recruit]
            id=Meneldur
            extra_recruit=""
        [/set_extra_recruit]
        [set_extra_recruit]
            id=Madru
            extra_recruit=""
        [/set_extra_recruit]

        {PUT_TO_RECALL_LIST id=Madru}
        {PUT_TO_RECALL_LIST id=Meneldur}

        [unit]
            id=Explorer
            name= _"The Explorer"
            profile="portraits/Meneldur.png"
            type=SE Black Galleon
            side=1
            x,y=12,4
            facing=sw
            {IS_EXPENDABLE_LEADER}
        [/unit]

        {BEAM_UP Explorer}

        {CUE_DOOM}

        [unit]
            id=Pirate
            name= _"Pirate Galley"
            profile="portraits/humans/thief.png"
            type=Pirate Galleon
            side=3
            x,y=4,16
        [/unit]

        {BEAM_UP Pirate}
    [/event]

    [event]
        name=side turn

        {BEAM_DOWN Pirate 9 8 500}

        [unit]
            id=Galley
            name= _"Wesnothian Galley"
            profile="portraits/humans/royal-guard.png"
            type=War Galleon
            side=4
            x,y=1,20
            facing=nw
        [/unit]

        {BEAM_UP Galley}
        {BEAM_DOWN Galley 11 9 500}

        [message]
            side=4
            message= _ "Stop, pirate! Surrender, or die!"
        [/message]
        [message]
            side=3
            message= _ "Never!"
        [/message]

        {BEAM_UP Pirate}
        {BEAM_DOWN Pirate 3 8 300}

        {BEAM_UP Galley}
        {BEAM_DOWN Galley 4 8 300}

        [message]
            side=4
            message= _ "Lower the gangplank! Throw the grapples! DON'T LET THEM ESCAPE!"
        [/message]

        {BEAM_DOWN Explorer 6 7 500}

        [message]
            id=Explorer
            message= _ "What's going on here?"
        [/message]
        [message]
            side=4
            message= _ "So, you're getting involved too, eh? Stop that ship, men!"
        [/message]

        {BEAM_UP Explorer}
        {BEAM_DOWN Explorer 5 9 1000}

        [kill]
            x,y=5,9
        [/kill]
        [kill]
            x,y=3,8
        [/kill]
        [kill]
            x,y=4,8
        [/kill]
        {SE_ENDLEVEL_CONTINUE_NO_SAVE}
    [/event]
[/scenario]

#undef BEAM_DOWN ID X Y T
#undef BEAM_UP ID
