#textdomain wesnoth-Saving_Elensefar

[scenario]
    id=sea_voyage_off_the_peninsula
    next_scenario=sea_voyage_0
    name= _ "Off the Peninsula"
    map_data="{~add-ons/Saving_Elensefar/maps/i11-Off_the_Peninsula.map}"
    force_lock_settings=yes
    allow_new_game=no
    random_start_time=no

#ifdef MULTIPLAYER
    experience_modifier={ON_DIFFICULTY 90 120 140}
#endif

    {TURNS 18 17 16}

    {SAVING_ELENSEFAR_SHEDULE}
    {SCENARIO_EVENTS}

    {MOOD_NORMAL}
    {VICTORY_AND_DEFEAT_MUSIC}

    [side]
        side=1
        {HUMAN_SIDE}
        {MENELDUR}
    [/side]

    [side]
        side=2
#ifdef MULTIPLAYER
        {HUMAN_SIDE}
        {MADRU}
#else
        controller=null
        hidden=yes
#endif
    [/side]

    [side]
        side=3
#ifdef MULTIPLAYER
        {HUMAN_SIDE}
        {BLACK_THE_RED}
#else
        controller=null
        hidden=yes
#endif
    [/side]

    [side]
        side=4
        controller=ai
        id=Lomanyas
        name= _"Lomanyas"
        type=Elvish Enchantress
        canrecruit=yes
        village_gold=2
        income=8
        team_name=bad
        user_team_name= _"Elvish Offshore"
        {GOLD 220 270 360}

        {QUANTITY recruit ("Elvish Hero,Elvish Fighter,Swordsman,Spearman") ("Elvish Hero,Elvish Fighter,Elvish Archer,Elvish Ranger,Spearman,Swordsman,Pikeman") ("Elvish Hero,Elvish Fighter,Elvish Archer,Elvish Ranger,Elvish Marksman,Spearman,Swordsman,Pikeman")}

        {GENERIC_AI}
        {FLAG_VARIANT wood-elvish}
    [/side]

    {STARTING_VILLAGES_ALL 4}

    {MONSTERS_AI 5}

    [event]
        name=prestart

        [objectives]
            side=0
            [objective]
                description= _ "Defeat the enemy leader"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Meneldur"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Madru"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Black the Red"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}
        [/objectives]

#ifndef MULTIPLAYER
        [store_starting_location]
            side=1
        [/store_starting_location]

        [unit]
            {MADRU}
            side=1
            x,y=$location.x,$location.y
        [/unit]

        [unit]
            {BLACK_THE_RED}
            side=1
            x,y=$location.x,$location.y
        [/unit]

        {CLEAR_VARIABLE location}
#endif

        {RECALL_MOST_EXPERIENCED (
            [not]
                race=merman
                [or]
                    type=Cuttle Fish,Giant Spider
                [/or]
            [/not]
        ) 5 3 2}

        [allow_extra_recruit]
            id=Meneldur
            extra_recruit=Spearman
        [/allow_extra_recruit]

        [allow_extra_recruit]
            id=Madru
            extra_recruit=Bowman
        [/allow_extra_recruit]

        [allow_extra_recruit]
            id="Black the Red"
            extra_recruit=Cavalryman
        [/allow_extra_recruit]
    [/event]

    [event]
        name=side turn

        [fire_event]
            name=fire_supply_calculation_start
        [/fire_event]

        [if]
            {VARIABLE_CONDITIONAL fought_elves_yet equals yes}
            [then]
                [message]
                    id=Lomanyas
                    message= _ "I heard about your defeat of the elves on the isle, and I knew you'd probably show up here sooner or later."
                [/message]
                [message]
                    id=Meneldur
                    message= _ "I might have known. You must be the leader of these men; I wouldn't put aligning with men below you, after you surrendered to orcs!"
                [/message]
                [message]
                    id=Lomanyas
                    message= _ "'Surrendered' is not the way I would put it, but fine, have it your way."
                [/message]
            [/then]
            [else]
                [message]
                    id=Lomanyas
                    message= _ "So, it is the traitor returning to greet his foe. How pleasant."
                [/message]
                [message]
                    id=Meneldur
                    message= _ "What are you doing here? My quarrel is with the Wesnothians, not with you."
                [/message]
                [message]
                    id=Lomanyas
                    message= _ "I am the men's captain, so those who quarrel with them quarrel with me. We elves and men have aligned to bring you down!"
                [/message]
                [message]
                    id=Meneldur
                    message= _ "Think what you like. We will fight you if need be."
                [/message]
            [/else]
        [/if]

        [message]
            id=Lomanyas
            message= _ "Oh, and I see some of the Wesnothians you found are turncoats. Don't worry, they will die also."
        [/message]
    [/event]

    [event]
        name=enemies defeated

        {VARIABLE fought_men_yet yes}

        [if]
            {VARIABLE_CONDITIONAL fought_elves_yet equals yes}
            [then]
                [message]
                    id=Meneldur
                    message= _ "With Lomanyas dead, I think we have defeated all of the Elves who sail the sea. We probably won't see them until we reach Elensefar..."
                [/message]
            [/then]
            [else]
                [message]
                    id=Meneldur
                    message= _ "It is unfortunate the elves have also decided to oppose us. I suspect there are more of them roaming the seas."
                [/message]
            [/else]
        [/if]

        [fire_event]
            name=give_experience
        [/fire_event]

        [fire_event]
            name=fire_supply_calculation_end
        [/fire_event]

        {LOOKUP_INDEX ships id Explorer temp_i}

        {VARIABLE ships[$temp_i].x 34}
        {VARIABLE ships[$temp_i].y 15}

        {SE_ENDLEVEL 0}
    [/event]
[/scenario]
