#textdomain wesnoth-Saving_Elensefar

[scenario]
    id=sea_voyage_theft
    next_scenario=sea_voyage_back_to_the_ship
    name= _ "Theft"
    map_data="{~add-ons/Saving_Elensefar/maps/i3-Theft.map}"
    force_lock_settings=yes
    allow_new_game=no
    random_start_time=no

#ifdef MULTIPLAYER
    experience_modifier={ON_DIFFICULTY 90 120 140}
#endif

    {TURNS 24 20 18}

    {SAVING_ELENSEFAR_SHEDULE}
    {SCENARIO_EVENTS}

    {MOOD_NORMAL}
    {VICTORY_AND_DEFEAT_MUSIC}
    {SE_SCENARIO_MUSIC tribal_war_song}

    [side]
        side=1
        {HUMAN_SIDE}
        {MENELDUR}

        shroud=yes
        fog=yes
    [/side]

    [side]
        side=2
#ifdef MULTIPLAYER
        {HUMAN_SIDE}
        {MADRU}

        shroud=yes
        fog=yes
#else
        controller=null
        hidden=yes
#endif
    [/side]

    [side]
        side=3
#ifdef MULTIPLAYER
        {HUMAN_SIDE}
        {BLACK_THE_RED}

        shroud=yes
        fog=yes
#else
        controller=null
        hidden=yes
#endif
    [/side]

    [side]
        side=4
        controller=ai
        fog,shroud=yes,yes
        id=Dal-Alkra
        name= _"Dal-Alkra"
        type=Orcish Warrior
        canrecruit=yes
        recruit=Orcish Grunt,Troll Whelp,Orcish Archer,Goblin Spearman
        income=8
        {GOLD 120 160 250}
        {GENERIC_AI}
    [/side]

    {MONSTERS_AI 5}

    [event]
        name=prestart

        [objectives]
            side=0
            [objective]
                description= _ "Defeat the enemy leader"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Meneldur"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Madru"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Black the Red"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Psison"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}
        [/objectives]

        [hide_unit]
            x,y=13,4
        [/hide_unit]

        [item]
            x,y=15,1
            image="units/dhow.png"
        [/item]
    [/event]

    [event]
        name=side turn

        [delay]
            time=1000
        [/delay]

        [unhide_unit]
            x,y=13,4
        [/unhide_unit]

#ifndef MULTIPLAYER
        [store_starting_location]
            side=1
        [/store_starting_location]

        [unit]
            {MADRU}
            side=1
            x,y=$location.x,$location.y
        [/unit]

        [unit]
            {BLACK_THE_RED}
            side=1
            x,y=$location.x,$location.y
        [/unit]

        {CLEAR_VARIABLE location}
#endif

        [allow_extra_recruit]
            id=Meneldur
            extra_recruit=Merman Hunter
        [/allow_extra_recruit]

        [allow_extra_recruit]
            id=Madru
            extra_recruit=Merman Fighter
        [/allow_extra_recruit]

        [allow_extra_recruit]
            id="Black the Red"
            extra_recruit=Mermaid Initiate
        [/allow_extra_recruit]

        [fire_event]
            name=fire_supply_calculation_start
        [/fire_event]

        [delay]
            time=750
        [/delay]

        [message]
            id=Meneldur
            message= _ "Are there any inhabitants of this island? We come in peace, we just want to restock our ship and then be on our way..."
        [/message]

        [delay]
            time=1000
        [/delay]

        [message]
            id="Black the Red"
            message= _ "Hey! What happened to The Explorer! She's gone!"
        [/message]

        [message]
            id=Madru
            message= _ "Someone must have stolen her. It looks like we're stuck on this island."
        [/message]

        [delay]
            time=2000
        [/delay]

        [unit]
            type=Merman Hoplite
            side=1
            x,y=14,4
            id=Psison
            name= _"Psison"
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_RESILIENT}
            [/modifications]
            {IS_LOYAL}
        [/unit]

        [message]
            id=Psison
            message= _ "Hello, I believe I can help."
        [/message]

        [message]
            id=Meneldur
            message= _ "Who are you, and what do you want?"
        [/message]

        [message]
            id=Psison
            message= _ " I am the leader of a great tribe of mermen. I think it was the nagas, our enemies, who stole your boat. I will lend you the aid of my fighters to get it back."
        [/message]

        [unit]
            type=SE Black Galleon
            x,y=4,8
            ai_special=guardian
            moves=0
            max_moves=0
            side=4
        [/unit]
    [/event]

    [event]
        name=sighted

        [filter]
            type=SE Black Galleon
        [/filter]

        [filter_second]
            side=1,2,3
        [/filter_second]

        [scroll_to]
            type=SE Black Galleon
        [/scroll_to]

        [message]
            speaker=second_unit
            scroll=no
            message= _ "Hey, look, I see the boat! Nagas are moving it southwest."
        [/message]

        [delay]
            time=500
        [/delay]

        [kill]
            type=SE Black Galleon
        [/kill]

        [unit]
            x,y=4,8
            type=Naga Warrior
            side=4
        [/unit]

        [message]
            type=Naga Warrior
            message= _ "They've found us! Workers, get that boat out of here! We will secure time for your escape."
        [/message]

        [delay]
            time=500
        [/delay]

        {REPEAT 3 (
            [unit]
                x,y=4,8
                type=Naga Fighter
                side=4
            [/unit]
        )}

#ifdef HARD
        [unit]
            x,y=4,8
            type=Naga Warrior
            side=4
        [/unit]
#endif

#ifdef NORMAL
        [unit]
            x,y=4,8
            type=Naga Fighter
            side=4
        [/unit]
#endif
    [/event]

    [event]
        name=sighted

        [filter]
            race=orc
        [/filter]

        [filter_second]
            side=1,2,3
        [/filter_second]

        [message]
            speaker=second_unit
            message= _ "Orcs! Would they be behind the theft of our ship?"
        [/message]
    [/event]

    [event]
        name=moveto

        [filter]
            x,y=1-5,16-20
            side=1,2,3
        [/filter]

        [message]
            speaker=unit
            message= _ "A bridge! What may be across it?"
        [/message]
        [message]
            id=Meneldur
            message= _ "Probably our boat... but we need to defeat these orcs before we get it, or else they will attack us from behind."
        [/message]
    [/event]

    [event]
        name=die

        [filter]
            canrecruit=yes
            side=4
        [/filter]

        [message]
            speaker=narrator
            message= _ "You find some gold pieces in the orc's castle."
            image=wesnoth-icon.png
        [/message]

        [gold]
            side=1,2,3
            {QUANTITY amount 75 50 25}
        [/gold]
    [/event]

    [event]
        name=enemies defeated

        [fire_event]
            name=fire_supply_calculation_end
        [/fire_event]

        {SE_ENDLEVEL back_to_the_ship}
    [/event]
[/scenario]
