#textdomain wesnoth-Saving_Elensefar

[scenario]
    id=sea_voyage_back_to_the_ship
    next_scenario=sea_voyage_0
    name= _ "Back to the Ship"
    map_data="{~add-ons/Saving_Elensefar/maps/i4-Back_to_the_Ship.map}"
    force_lock_settings=yes
    allow_new_game=no
    random_start_time=no

#ifdef MULTIPLAYER
    experience_modifier={ON_DIFFICULTY 90 120 140}
#endif

    {TURNS 24 20 18}

    {SAVING_ELENSEFAR_SHEDULE}
    {SCENARIO_EVENTS}

    {MOOD_NORMAL}
    {VICTORY_AND_DEFEAT_MUSIC}

    [side]
        side=1
        {HUMAN_SIDE}
        {MENELDUR}

        shroud=yes
#ifndef EASY
        fog=yes
#endif
    [/side]

    [side]
        side=2
#ifdef MULTIPLAYER
        {HUMAN_SIDE}
        {MADRU}

        shroud=yes
#ifndef EASY
        fog=yes
#endif
#else
        controller=null
        hidden=yes
#endif
    [/side]

    [side]
        side=3
#ifdef MULTIPLAYER
        {HUMAN_SIDE}
        {BLACK_THE_RED}

        shroud=yes
#ifndef EASY
        fog=yes
#endif
#else
        controller=null
        hidden=yes
#endif
    [/side]

    [side]
        side=4
        controller=ai
        id=Dur-Galba
        name= _"Dur-Galba"
        type=Orcish Warlord
        canrecruit=yes
#ifdef EASY
        recruit=Orcish Grunt,Troll Whelp,Orcish Archer,Goblin Spearman
#endif
#ifdef NORMAL
        recruit=Orcish Grunt,Troll Whelp,Orcish Archer,Orcish Assassin,Goblin Spearman
#endif
#ifdef HARD
        recruit=Orcish Grunt,Orcish Warrior,Troll Whelp,Orcish Archer,Orcish Assassin,Goblin Spearman
#endif

        {GOLD 150 180 250}
        income=12
        team_name=bad
        user_team_name= _"Ocean Orcs"
        {GENERIC_AI}
    [/side]

    [side]
        side=5
        controller=ai
        team_name=bad
        user_team_name= _"Thiefs"
        id=Slal
        name= _"Slal"
        canrecruit=yes
#ifdef EASY
        type=Naga Warrior
        recruit=Naga Fighter
#else
        type=Naga Myrmidon
        recruit=Naga Fighter,Naga Warrior
#endif
        {GOLD 80 120 180}
        {INCOME 6 8 10}

        {GENERIC_AI}
    [/side]

    {STARTING_VILLAGES 3 9}
    {STARTING_VILLAGES 2 6}

    {MONSTERS_AI 6}

    [event]
        name=prestart

        [objectives]
            side=0
            [objective]
                description= _ "Defeat the enemy leaders"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Meneldur"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Madru"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Black the Red"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Psison"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}
        [/objectives]
    [/event]

    [event]
        name=side turn

#ifndef MULTIPLAYER
        [store_starting_location]
            side=1
        [/store_starting_location]

        [unit]
            {MADRU}
            side=1
            x,y=$location.x,$location.y
        [/unit]

        [unit]
            {BLACK_THE_RED}
            side=1
            x,y=$location.x,$location.y
        [/unit]

        {CLEAR_VARIABLE location}
#endif

        [unit]
            id=Psison
            side=1
            type=Merman Hoplite
            placement=leader
        [/unit]

        {CLEAR_VARIABLE temp}

        [fire_event]
            name=fire_supply_calculation_start
        [/fire_event]

        [delay]
            time=1000
        [/delay]

        [message]
            id=Meneldur
            message= _ "Time to get our ship back. These islands are inhabited, there should be a harbor *somewhere*."
        [/message]
        [message]
            id=Psison
            message= _ "These Nagas don't leave us alone! They're here again, and the ship is here somewhere too."
        [/message]
    [/event]

    [event]
        name=sighted

        [filter]
            side=4
        [/filter]

        [filter_second]
            side=1,2,3
        [/filter_second]

        [message]
            speaker=second_unit
            message= _ "Orcs! More orcs!"
        [/message]
    [/event]

    [event]
        name=sighted

        [filter]
            race=naga
        [/filter]

        [filter_second]
            side=1,2,3
        [/filter_second]

        [message]
            id=Psison
            message= _ "I knew there were nagas around here..."
        [/message]
    [/event]

    [event]
        name=enemies defeated

        [message]
            id="Black the Red"
            message= _ "Now, to the harbor, and back on to the ship!"
        [/message]

        [fire_event]
            name=give_experience
        [/fire_event]

        [fire_event]
            name=fire_supply_calculation_end
        [/fire_event]

        [message]
            id=Psison
            message= _ "I will leave you now, but the fighters who fought for you will still help you, they say."
        [/message]

        [kill]
            id=Psison
        [/kill]

        {LOOKUP_INDEX ships id Explorer temp_i}

        {VARIABLE ships[$temp_i].x 32}
        {VARIABLE ships[$temp_i].y 12}

        {SE_ENDLEVEL 0}
    [/event]
[/scenario]
