#textdomain wesnoth-Saving_Elensefar

[scenario]
    id=sea_voyage_traitors
    next_scenario=sea_voyage_deadly_alliance
    name= _ "Traitors"
    map_data="{~add-ons/Saving_Elensefar/maps/i6-Traitors.map}"
    force_lock_settings=yes
    allow_new_game=no
    random_start_time=no

#ifdef MULTIPLAYER
    experience_modifier={ON_DIFFICULTY 90 120 140}
#endif

    {TURNS 16 14 12}

    {SAVING_ELENSEFAR_SHEDULE}
    {SCENARIO_EVENTS}

    {MOOD_NORMAL}
    {VICTORY_AND_DEFEAT_MUSIC}
    {SE_SCENARIO_MUSIC calm-before-storm}

    [side]
        side=1
        {HUMAN_SIDE}
        {MENELDUR}
    [/side]

    [side]
        side=2
#ifdef MULTIPLAYER
        {HUMAN_SIDE}
        {MADRU}
#else
        controller=null
        hidden=yes
#endif
    [/side]

    [side]
        side=3
#ifdef MULTIPLAYER
        {HUMAN_SIDE}
        {BLACK_THE_RED}
#else
        controller=null
        hidden=yes
#endif
    [/side]

    [side]
        side=4
        controller=ai
        id=Kalandur
        name= _"Kalandur"
        type=Elvish Champion
        canrecruit=yes
        team_name=bad
        user_team_name= _"Traitors"

        {QUANTITY recruit ("Elvish Hero,Elvish Fighter,Elvish Archer,Elvish Ranger") ("Elvish Hero,Elvish Ranger,Elvish Fighter,Elvish Archer,Elvish Marksman") ("Elvish Hero,Elvish Ranger,Elvish Marksman,Elvish Fighter,Elvish Archer,Elvish Rider")}

        income=8
        {GOLD 200 250 300}

        {GENERIC_AI}
        {FLAG_VARIANT wood-elvish}
    [/side]

    {STARTING_VILLAGES 4 8}

    {MONSTERS_AI 5}

    [event]
        name=prestart

        {VARIABLE gold_carryover 100}

        [objectives]
            side=0
            [objective]
                description= _ "Defeat enemy leader"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Meneldur"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Madru"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Black the Red"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}
            notes_string = _"Gold carryover:"
            [note]
                red,green,blue=255,255,192
                description= _ "The percentage of gold carried over to the next scenario decreases by 5 for every slained elf."
            [/note]
            [note]
                red,green,blue=255,255,192
                description= _ "$gold_carryover|% of gold carried over to the next scenario."
            [/note]
        [/objectives]
    [/event]

    [event]
        name=prestart

#ifdef EASY
        [terrain]
            x,y=14,15
            terrain=Gs
        [/terrain]
        [terrain]
            x,y=16,12
            terrain=Gs^Ve
        [/terrain]
#endif

#ifdef HARD
        [terrain]
            x,y=10,19
            terrain=Gs^Ve
        [/terrain]
#endif
    [/event]

    [event]
        name=side turn

#ifndef MULTIPLAYER
        [store_starting_location]
            side=1
        [/store_starting_location]

        [unit]
            {MADRU}
            side=1
            x,y=$location.x,$location.y
        [/unit]

        [unit]
            {BLACK_THE_RED}
            side=1
            x,y=$location.x,$location.y
        [/unit]

        {CLEAR_VARIABLE location}
#endif

        {RECALL_MOST_EXPERIENCED (
            [not]
                race=merman
                [or]
                    type=Cuttle Fish,Giant Spider
                [/or]
            [/not]
        ) 5 3 2}

        [fire_event]
            name=fire_supply_calculation_start
        [/fire_event]

        [if]
            {VARIABLE_CONDITIONAL fought_men_yet equals yes}
            [then]
                [message]
                    id=Meneldur
                    message= _ "What? So, if it isn't my old friend Kalandur... are there any more Wesnothians on this island, or have they given up trying to stop us?"
                [/message]
                [message]
                    id=Kalandur
                    message= _ "There are none here, but trust me, they remain against you."
                [/message]
                [message]
                    id=Meneldur
                    message= _ "So say you. Well, Black, we'd better go. Its best not to kill more elves; even if we defeat them, it will just make the rest even angrier at us."
                [/message]
            [/then]
            [else]
                [message]
                    id=Meneldur
                    message= _ "What? So, if it isn't my old friend Kalandur. (we'd better get out of here, Madru...)"
                [/message]
                [message]
                    id=Kalandur
                    message= _ "So we meet again, traitor elf! Prepare to die!"
                [/message]
                [message]
                    id=Madru
                    message= _ "Whats going on here?"
                [/message]
                [message]
                    id=Meneldur
                    message= _ "Kalandur here thinks I betrayed Elfkind by aiding Elensefar. He's going to fight us. We have to leave."
                [/message]
            [/else]
        [/if]

        [message]
            id="Black the Red"
            message= _ "Look, if we leave now, they'll just follow us and kill us. We have to defeat them!"
        [/message]
        [message]
            id=Meneldur
            message= _ "If we leave, he will probably not follow us. He will report to his superiors - wherever they are."
        [/message]
        [message]
            id="Black the Red"
            message= _ "And won't those superiors send out even more ships? If we let Kalandur get away, they will know where we are and where we are coming from."
        [/message]
        [message]
            id=Meneldur
            message= _ "Very well. Onward!"
        [/message]
    [/event]

    [event]
        name=last breath

        [filter]
            race=elf
            side=4
        [/filter]

        [message]
            id=Meneldur
            message= _ "So, we have slain an Elf! I do not like this - they are not evil, they are only following the commands of their twisted leader. Perhaps if we spare them their lives, they will join us after we defeat them."
        [/message]
    [/event]

    [event]
        name=die
        first_time_only=no

        [filter_condition]
            {VARIABLE_CONDITIONAL gold_carryover greater_than 20}
        [/filter_condition]

        [filter]
            side=4
            canrecruit=no
            race=elf
        [/filter]

        {VARIABLE_OP gold_carryover sub 5}
    [/event]

    [event]
        name=enemies defeated

        [message]
            id=Madru
            message= _ "Look - there is a bridge here that Kalandur was guarding. I guess we should go across, but I don't have any idea what is there."
        [/message]
        [message]
            id=Meneldur
            message= _ "Nor do I. Probably more enemies."
        [/message]

        [fire_event]
            name=fire_supply_calculation_end
        [/fire_event]

        [delay]
            time=750
        [/delay]

        [unit]
            x,y=11,18
            type=Elvish Hero
            side=1
            id=Danrer
            name= _"Danrer"
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_DEXTROUS}
            [/modifications]
            {IS_LOYAL}
        [/unit]

        [message]
            id=Danrer
            message= _ "Wait! I know what's across that bridge - its more elves, who will want to kill you, and orcs."
        [/message]
        [message]
            id=Madru
            message= _ "Well then, we will have a common foe with these elves!"
        [/message]
        [message]
            id=Danrer
            message= _ "Um.. in a way... but in any case, I think that us elves who are still alive will join you. We can't go back to the elves now, because since we did not die they will think we are deserters."
        [/message]
        [message]
            id=Meneldur
            message= _ "Then join us, if you wish to. We are always open to more fighters."
        [/message]

        [allow_extra_recruit]
            id=Meneldur
            extra_recruit=Elvish Fighter,Elvish Shaman
        [/allow_extra_recruit]

        [modify_unit]
            [filter]
                side=4
            [/filter]
            side=1
            experience="$($this_unit.experience + 8)"
        [/modify_unit]

        [message]
            id=Danrer
            message= _ "Gladly! Also, there is some gold here that Kalandur was saving... you can take it, since you did defeat him."
        [/message]

        [gold]
            side=1,2,3
            amount=50
        [/gold]

        {SE_ENDLEVEL deadly_alliance}
        [+endlevel]
            carryover_percentage=$gold_carryover
        [/endlevel]

        {CLEAR_VARIABLE gold_carryover}
    [/event]
[/scenario]
