#textdomain wesnoth-Saving_Elensefar

[scenario]
    id=sea_voyage_deadly_alliance
    next_scenario=sea_voyage_0
    name= _ "A Deadly Alliance"
    map_data="{~add-ons/Saving_Elensefar/maps/i7-Deadly_Alliance.map}"
    force_lock_settings=yes
    allow_new_game=no
    random_start_time=no

#ifdef MULTIPLAYER
    experience_modifier={ON_DIFFICULTY 90 120 140}
#endif

    {TURNS 30 26 24}

    {SAVING_ELENSEFAR_SHEDULE}
    {SCENARIO_EVENTS}

    {MOOD_NORMAL}
    {VICTORY_AND_DEFEAT_MUSIC}
    {SE_SCENARIO_MUSIC a3deap_DontFearTheReaper}

    [side]
        side=1
        {HUMAN_SIDE}
        {MENELDUR}
    [/side]

    [side]
        side=2
#ifdef MULTIPLAYER
        {HUMAN_SIDE}
        {MADRU}
#else
        controller=null
        hidden=yes
#endif
    [/side]

    [side]
        side=3
#ifdef MULTIPLAYER
        {HUMAN_SIDE}
        {BLACK_THE_RED}
#else
        controller=null
        hidden=yes
#endif
    [/side]

    [side]
        side=4
        controller=ai
        id=Alandur
        name= _"Alandur"
        type=Elvish Marshal
        canrecruit=yes
        village_gold=2
        team_name=bad
        user_team_name= _"Mad Alliance"
        {GOLD 275 325 375}

        {QUANTITY recruit ("Elvish Ranger,Elvish Hero,Elvish Archer,Elvish Fighter,Elvish Scout") ("Elvish Ranger,Elvish Hero,Elvish Archer,Elvish Fighter,Elvish Scout") ("Elvish Ranger,Elvish Marksman,Elvish Archer,Elvish Fighter,Elvish Hero,Elvish Scout")}

        {GENERIC_AI}
        {FLAG_VARIANT wood-elvish}
    [/side]

    [side]
        side=5
        controller=ai
        id=Kra-Drano
        name= _"Kra-Drano"
        type=Orcish Warlord
        canrecruit=yes
        village_gold=2
        team_name=bad
        user_team_name= _"Mad Alliance"

        {GOLD 275 325 375}

        {QUANTITY recruit ("Orcish Crossbowman,Orcish Warrior,Orcish Grunt,Troll Whelp,Naga Warrior,Naga Fighter") ("Orcish Crossbowman,Orcish Warrior,Orcish Grunt,Troll,Troll Whelp,Naga Warrior,Naga Fighter") ("Orcish Crossbowman,Orcish Warrior,Orcish Grunt,Orcish Slayer,Orcish Assassin,Troll Whelp,Troll,Naga Warrior,Naga Fighter")}

        {GENERIC_AI}
        {FLAG_VARIANT ragged}
    [/side]

    {STARTING_VILLAGES 4 8}
    {STARTING_VILLAGES 5 16}

    {MONSTERS_AI 6}

    [event]
        name=prestart

        [objectives]
            side=1
            [objective]
                description= _ "Defeat enemy leaders"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Meneldur"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Madru"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Black the Red"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}
        [/objectives]
    [/event]

    [event]
        name=side turn

#ifndef MULTIPLAYER
        [store_starting_location]
            side=1
        [/store_starting_location]

        [unit]
            {MADRU}
            side=1
            x,y=$location.x,$location.y
        [/unit]

        [unit]
            {BLACK_THE_RED}
            side=1
            x,y=$location.x,$location.y
        [/unit]

        {CLEAR_VARIABLE location}
#endif

        [recall]
            id=Danrer
            placement=leader
        [/recall]

        {RECALL_MOST_EXPERIENCED (
            [not]
                race=merman
                [or]
                    type=Cuttle Fish,Giant Spider
                [/or]
            [/not]
        ) 5 3 2}

        [fire_event]
            name=fire_supply_calculation_start
        [/fire_event]

        [message]
            id=Meneldur
            message= _ "Alandur! I suppose you want to battle? Very well, but there are orcs here also. How about we kill them first, then battle?"
        [/message]
        [message]
            id=Alandur
            message= _ "Well, if the orcs had not occupied Elensefar when they took it, but rather destroyed it, we would. But, those on the mainland have proved extremely resistant to attacks."
        [/message]
        [message]
            id=Madru
            message= _ "Why does that matter? All that's important is that they're going to kill you, too!"
        [/message]
        [message]
            id=Alandur
            message= _ "No, we're currently concluding a peace treaty with the orcs. And it would be bad form to attack the relatives of those who you are trying to make a bargain with!"
        [/message]
        [message]
            id=Meneldur
            message= _ "But these orcs are probably from a completely different tribe!"
        [/message]
        [message]
            id=Alandur
            message= _ "We can't take that chance! These orcs claim to be allies with the ones in Elensefar, so we MUST ally with them."
        [/message]

        {VARIABLE_OP random rand(2..6)}

        [message]
            id=Kra-Drano
            image="portraits/orcs/transparent/grunt-$random|.png"
            message= _ "Uh, yeah, of course... we be da same tribe... uh... Prepare to die, stupid dog-man!"
        [/message]

        {CLEAR_VARIABLE random}

        [if]
            [variable]
                name=fought_men_yet
                equals=yes
            [/variable]
            [then]
                [message]
                    id=Meneldur
                    message= _ "So the elves, too, have given up trying to stop the orcs... it seems we are on our own against them. And these elves, since we are their enemies anyway, must die."
                [/message]
            [/then]
            [else]
                [message]
                    id=Meneldur
                    message= _ "The elves are willing to surrender Elensefar to orcs, just because they began to lose a few battles? We really need to get back there, soon."
                [/message]
            [/else]
        [/if]
        [message]
            id="Black the Red"
            message= _ "If we can just get to the western isle I spoke of, we may be able to defeat this alliance."
        [/message]
    [/event]

    [event]
        name=enemies defeated

        [if]
            {VARIABLE_CONDITIONAL fought_men_yet equals yes}
            [then]
                [message]
                    id=Meneldur
                    message= _ "With Alandur dead, I think we have defeated all of the Elves who sail the sea. We probably won't see them until we reach Elensefar... we will have many enemies when we get there."
                [/message]
            [/then]
            [else]
                [message]
                    id=Meneldur
                    message= _ "Well, we won, but things might go badly for us later..."
                [/message]
            [/else]
        [/if]

        {VARIABLE fought_elves_yet yes}

        [fire_event]
            name=give_experience
        [/fire_event]

        [fire_event]
            name=fire_supply_calculation_end
        [/fire_event]

        {SE_ENDLEVEL 0}
    [/event]
[/scenario]
