#textdomain wesnoth-Saving_Elensefar

#define SE_ENDLEVEL SCENARIO
    # give bonus, report carryover and never create a starting save
    [endlevel]
        result=victory
        next_scenario=sea_voyage_{SCENARIO}
        linger_mode=yes
        bonus=yes
        carryover_add=no
        carryover_report=yes
        carryover_percentage=100
        save=no
        replay_save=yes
    [/endlevel]
#enddef

#define SE_ENDLEVEL_CONTINUE_NO_SAVE
    # instantly jump to next scenario
    [endlevel]
        result=victory
        linger_mode=no
        bonus=no
        carryover_add=no
        carryover_report=no
        carryover_percentage=100
        save=no
        replay_save=no
    [/endlevel]
#enddef

# searchs the nearest vacant tile near {LEADER} of terrain {TERRAIN} up to a radius {RADIUS}
# result is stored as $location.x,$location.y
#define SEARCH_NEAREST LEADER TERRAIN RADIUS
    [store_unit]
        [filter]
            {LEADER}
        [/filter]
        variable=from_here
    [/store_unit]

    {VARIABLE radius 1}
    [while]
        {VARIABLE_CONDITIONAL radius less_than_equal_to {RADIUS}}
        [do]
            [store_locations]
                terrain={TERRAIN}
                [and]
                    x,y=$from_here.x,$from_here.y
                    radius=$radius
                [/and]
                [not]
                    [filter]
                    [/filter]
                [/not]
                variable=location
            [/store_locations]

            [if]
                {VARIABLE_CONDITIONAL location.length numerical_not_equals 0}
                [then]
                    {VARIABLE radius 999}
                [/then]
                [else]
                    {VARIABLE_OP radius add 1}
                [/else]
            [/if]
        [/do]
    [/while]
    {CLEAR_VARIABLE radius,from_here}
#enddef

#define SE_STORE_GLOBAL_SIDE CHAPTER LOCAL_VAR GLOBAL_VAR SIDE
    [store_unit]
        [filter]
            side={SIDE}
        [/filter]
        variable=stored_side
    [/store_unit]

    {GLOBAL_VARIABLE SavingElensefar{CHAPTER} stored_side side_{SIDE}.army global}

    [store_gold]
        side={SIDE}
    [/store_gold]

    {GLOBAL_VARIABLE SavingElensefar{CHAPTER} gold side_{SIDE}.gold global}

    {CLEAR_VARIABLE side_{SIDE}_stored,gold}
#enddef

#define SE_GET_GLOBAL_SIDE CHAPTER LOCAL_VAR GLOBAL_VAR SIDE
    {VARIABLE_FROM_GLOBAL SavingElensefar{CHAPTER} side_{SIDE}.army stored_side {SIDE}}

    {FOREACH stored_side i_temp}
        {VARIABLE stored_side[$i_temp].side {SIDE}}
        [unstore_unit]
            variable=stored_side[$i_temp]
            x,y=recall,recall
        [/unstore_unit]
    {NEXT i_temp}

    {VARIABLE_FROM_GLOBAL SavingElensefar{CHAPTER} side_{SIDE}.gold gold {SIDE}}

    [modify_side]
        side={SIDE}
        gold=$gold
    [/modify_side]

    {CLEAR_VARIABLE gold,stored_side}
#enddef
